<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.ssp.ttr_rechner">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyTTRRechnerApplication"
        tools:replace="android:allowBackup">
        <activity
            android:name=".TTRCalculatorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_start_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FoundedPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_player_choose"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MyTischtennisCredentialsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_mytischtennis_credentials"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".SearchPlayerDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/spieler_suche"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".SearchPlayerFastActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/spieler_suche"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".TTRConstantsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ttr_constant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LicenseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_licence"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".OCRPlayersActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ocr"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>